.authPage{
    margin-top: 80px;
}

.authMenu{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    width: 60vw;
    max-width: 500px;
}

.form{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.form .item{
    margin: 5px;
}

.roboto{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.centered{
    text-align: center;
}

.blueText{
    color: #3f51b5
}