.createPostPage{
    margin-top: 80px;
}

.createPostMenu{
    margin: 0 auto;
    padding: 1vw;
}

.roboto{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.centered{
    text-align: center;
}

.blueText{
    color: #3f51b5
}

.paragraph{
    margin: 10px 2vw;
    word-wrap: break-word;
}

.createdParagraph:hover{
    color:red;
}

.tags{
    list-style: none;
    padding-left: 0;
    display: inline;
}

.tags .tag{
    display: inline-block;
    color: white;
    background-color: #3f51b5;
    border-radius: 4px;
    margin: 10px 2px;
}

.date{
    font-weight: bold;
    margin: 10px;
}

.input{
    margin: 10px;
}

.fileInput{
    margin: 10px;
}

.postTitle{
    font-size: calc(3em + 3vw);
    text-align: center;
}

.postImage{
    width: 60%;
    max-width: 700px;
    margin-bottom: 20px;
}

.postSection{
    font-size: calc(1em + 0.5vw);
    color: rgb(70 63 63);
    font-weight: 1;
    word-wrap: break-word;
    margin: 10px;
    justify-content: flex-start;
}

.postContent{
    margin-top: 70px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}